@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", serif;
}

:root {
    --black-color: #121212;
    --white-color: #fff;
    --accent: #ad1818;
}

.header {
    max-width: 1400px;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    padding: 0 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    width: 128px;
    height: 23px;
}

.header__nav {
    width: 40%;
}

.header__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header__item {}

.header__item a {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--black-color);
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}
.header__item a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: var(--black-color);
    opacity: 0;
    
}
.header__item a:hover{
    opacity: 0.5;
}
.header__item a:hover::before{
    opacity: 0.5;
}


.modern {
    max-width: 1400px;
    width: 100%;
    height: 100vh;
    margin: 35px auto;
    padding: 0 124px;
}
.modern__title {
    width: 85%;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: var(--black-color);
    margin-bottom: 30px;
}
.modern__container {
    width: 100%;
    height: 500px;
    background: url(./img/header.png)center/cover no-repeat;
    display: flex;
    align-items: end;
    padding: 40px;
}
.modern__text {
    width: 40%;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: var(--white-color);
}